/*
  CSS for Sport Aarhus Events website by Brian Jensen @ www.magnify.dk
*/

/*
  Reset stuff
*/

ul {
  margin: 0;
  padding: 0;
}

body {
  background: #bfdbee url('../images/body-background.jpg') repeat-x top center;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #e1e1e1;
}

#main-menu {
  background-color: #d1d1d1;
}

#main-wrapper {
  background-color: #fff;
}

#main {
  padding: 10px;
}

#breadcrumb {
  background-color: #d9d9d9;
}

#footer-wrapper {
  background-color: #f1f1f1;
}

#footer-blocks {
  background-color: #a50000;
}

#footer {
  background-color: #334854;
}

/*
  General menu stuff
*/

ul.menu li {
  display: inline;
  list-style: none;
}